* {
  margin: 0;
  padding: 0;
  font-family: inter, sans-serif;
}

#top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 2vh;
}
#logo {
  display: flex;
  align-items: center;
}
#logo h2 {
  font-family: inter, sans-serif;
}

#nav {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
nav a {
  text-decoration: none;
  color: black;
  font-family: inter, sans-serif;
  font-size: 20px;
}
#sess {
  border: 2px solid black;
  font-family: inter, sans-serif;
  padding: 10px;
  font-size: 20px;
  border-radius: 50px;
}
/* the body design */
#begin {
  display: flex;
  justify-content: center;
  padding-top: 8vh;
  text-align: center;
}
#begin h1 {
  font-size: 40px;
  font-family: ;
}

#begin h2 {
  font-family: Lora;
  font-size: 50px;
  font-style: italic;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -0.04em;
  text-align: center;
}

#img1 img {
  width: 100vw;
  overflow: hidden;
}

/* design of about text */
#abttext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  gap: 50vh;
  font-family: PP Editorial New;
}

#abttext2 {
  display: flex;
  gap: 50vh;
  align-items: center;
  padding: 3vh 15vw;
  margin-left: 40px;
  margin-bottom: 50px;
}
#abttext h1 {
  display: flex;
  flex-direction: column;
  font-family: PP Editorial New;
  font-size: 45px;
  font-weight: 400;
  line-height: 64px;
  margin-bottom: 50px;
}
#text p {
  display: flex;
  font-size: 20px;
  font-family: Neue Montreal;
  font-weight: 400;
  line-height: 29px;
  /* letter-spacing: -0.04em; */
  /* text-align: left; */
}

/* vidoe edit */
#video {
  width: 80vw;
  /* padding: 30px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-left: 10vw;
  /* padding-left: 5vh; */
  /* flex-wrap: wrap; */
}
/* portfolio */
#port {
  /* border: 1px black solid; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
  padding-top: 8vh;
  gap: 50vh;
  margin: 10vh auto;
}
#port h1 {
  padding-right: 5vh;
  margin-top: 5vh;
  margin-right: 200px;
  font-family: PP Editorial New;
  font-size: 50px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -0.04em;
  text-align: center;
}
#ptxt {
  font-family: Neue Montreal;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.04em;
  text-align: left;
}

/* design for images */
#imgrow {
  /* border: 1px black solid; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 5vh;
  flex-wrap: wrap;
  gap: 2vh;
}

/* FAQ */
#ttx {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
  padding-top: 8vh;
  gap: 60vh;
  margin: 10vh auto;
}
#ttx h1 {
  font-size: 40px;
  margin-right: 20px;
}
#ttx p {
  font-family: Neue Montreal;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.04em;
  text-align: left;
}

#design {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
  padding-top: 8vh;
  gap: 60vh;
  margin: 10vh auto;
  line-height: 2;
  font-weight: bold;
  margin-right: 20px;
}
#design p {
  font-family: Neue Montreal;
  font-size: 24px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: -0.04em;
  text-align: left;
  padding: 10px;
  gap: 10px;
}
#plus {
  margin-left: 400px;
  font-size: 24px;
}
.footer {
  background-image: url("/public/res/last.png");
  height: 70vh;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}
